html {
  font-size: 62.5%;
}
:root {
  --font-heading: "Sen", sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.h2-content {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 48px);
}
/* class dùng để buộc chỉ hiển thị một hàng
và thêm dấu ba chấm nếu vượt quá 1 hàng */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* thêm 3 chấm nếu vượt quá 2 dòng */
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* buộc xuống dòng với trường hợp chữ viết liền không cách
khiến cho web không thể nhận diện để xuống hàng */
.break-all {
  word-break: break-all;
}

/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  /* do ta truyền padding top là 36px
  vậy nếu muốn khi ngang 8px dừng lại thì ta đưa vào top -28px; */
  top: -28px;
  z-index: 1;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  padding: 8px 21px;
}
.btn {
  display: block;
  color: #fff;
  text-align: center;
  width: 118px;
  border-radius: 24.5px;
  background: #171100;
  padding: 0 3px;
  line-height: 50px;
  font-weight: 600px;
}
.btn:hover {
  opacity: 0.6;
}
.action .btn-sign-up {
  width: 144px;
  /* ở trên đã truyền pad là 21 để khoảng cách giữa các từ là 42
  vậy ta cần cách thêm 49px nữa để thành 70px */
  margin-left: 49px;
}
.nav li.active a,
.body-header .nav a:hover {
  color: #171100;
  text-align: center;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  position: absolute;
  /* ở thẻ nav a thì ta đã truyền padding la 8px 21px
  tức là trên dưới 8px trái phải 21px
  vậy để gạch chân vào ngay chữ H thì cho cách trái 21px */
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
/* main  */
/* .media-block .mini-table-content .mini-media {
  display: flex;
} */
.body-hero .media-block {
  /* media-content rộng 570px, hero rộng 1170 thì tức chiếm 48% */
  width: 48%;
  min-width: 570px;
  position: relative;
}

.body-hero {
  display: flex;
}
.hero {
  /* header pad dưới là 8 px mà khoảng cách giữa header vs hero là 64 vậy 
    khoảng cách cuối cần thêm là 56 */
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
/* khối bên trái  */
.hero .media-block .big-image {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}
/* Bảng nhỏ trong ảnh  */
.media-block .mini-table-content {
  position: absolute;
  bottom: 48px;
  left: 300px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.mini-table-content .mini-media {
  display: flex;
  align-items: center;
  /* margin: 28px 24px; */
}
.mini-media .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-media .icon1 {
  background-color: #fff9e8;
}
.mini-media .icon2 {
  background-color: #fcefff;
}
.mini-media .icon3 {
  background-color: #ebeaff;
}
.mini-table-content .info {
  margin-left: 16px;
}
.mini-table-content .label {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.mini-table-content .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7; /* 166.667% */
}
.mini-table-content .mini-media + .mini-media {
  margin-top: 22px;
}
.mini-table-content .mini-table {
  padding: 24px;
}
/* khối bên phải  */
.body-hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .h-content {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
  width: 470px;
}
.hero .p-content {
  margin-top: 22px;
  width: 470px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.btn-icon {
  /* align-items: center căn giữa theo chiều dọc các item bên trong; */
  align-items: center;
  display: flex;
  padding-top: 38px;
}
.btn-icon .btn-buttom-conten_block {
  border-radius: 32px;
  background: #ffb900;
  line-height: 64px;
  width: 180px;
}
.hero .What-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  /* cursor:  dùng để nhận biết vị trí nào nhấp vào được(có hình bàng tay); */
  cursor: pointer;
}
.What-video .icon {
  display: flex;
  /* phải có display flex mới sử dụng được align item  */
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.btn-icon span {
  margin-left: 14px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  width: 148px;
}
.btn-icon span:hover {
  opacity: 0.7;
}
.hero .recent {
  margin-top: 48px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero .end-text strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-right: 15px;
}
.hero .end-text strong:nth-child(2) {
  margin-left: 28px;
}
.hero .end-text {
  margin-top: 8px;
}

/* .popular */
.popular {
  /* cho padding: trên dưới để nền không ôm sát chữ; */
  padding: 65px 0;
  /* pading của popular là 65 
  mà kc giữa popular vs hero là 200
  vậy kc thiếu là 135 */
  margin-top: 135px;
}
.popular-top .p-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  width: 458px;
  margin-top: 16px;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .button-popular {
  display: flex;
  /* gap là khoảng cách giữa 2 nút(icon bên trong) */
  gap: 18px;
}
.button-popular .btn-popular {
  /* trước khi dùng flex nó là inline nên đứng cạnh nhau, sau khi flex thì nó sẽ xếp dọc
  dùng flex vào thẻ cha của nó */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  cursor: pointer;
  color: #ffb900;
}
/* hover vào nút không hover vào khung chứa nút  */
.btn-popular:hover {
  background-color: #ffb900;
  color: white;
}
/* foot-popular */
.popular-bottom {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular-bottom .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}
.popular-bottom .course-item {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  /* trọng số 3 item phải bằng nhau(kích thước luôn bằng nhau dù có thêm nd bên trong) */
  flex: 1;
}
.course-item .info {
  padding: 16px 22px 22px 22px;
}
.course-item .rating,
.course-item .info .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-item .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.course-item .star {
  width: 18px;
  height: 18px;
}
.course-item .value {
  margin-left: 6px;
  color: #fea31b;
  line-height: 1.75; /* 175% */
}
.popular-bottom .info .p-content {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.popular-bottom .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.popular-bottom .foot .giaban {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.76; /* 166.667% */
}
.popular-bottom .foot .btn-foot {
  width: 118px;
  line-height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
.popular-bottom .foot .btn-foot:hover {
  opacity: 0.9;
  background: #ffb900;
}
/* feedback  */
.feedback {
  background: #2e2100;
  /* thêm padding để tránh việc thêm nội dung thì màu nền không bị ôm sát */
  padding: 96px 0;
  /* cách phần popular 200 mà padding là 65 vậy còn thiếu 135;  */
  margin-top: 135px;
}
.feedback-list .feedback-item {
  display: flex;
  align-items: center;
  /* flex-shink để giữ nguyên định dạng của đối tượng (dùng cho phần feedback 3 người ở bên dưới)  */
  flex-shrink: 0;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .name {
  color: #f7f7f7;
  margin-top: 18px;
  width: 130px;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.feedback-item .tile-name {
  color: #bfbcb2;
  width: 159px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.feedback-item .dots {
  display: flex;
  align-items: center;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}
/* khối bên phải  */
.feedback-item .content {
  width: 66%;
  /* dịch box chữ sang bên phải  */
  margin-left: auto;
  margin-left: 217px;
}
.feedback-item block-quotes {
  color: #fff;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}
.feedback-item .dot.active {
  border-radius: 6px;
  background: #ffb900;
}
/* features  */
.features {
  padding: 65px 0;
  margin-top: 135px;
}
.features .body-features {
  display: flex;
}
.features .image-features {
  display: flex;
  gap: 30px;
}
.image-features img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.image-features .lower {
  margin-top: 34px;
}
.features .content-features {
  /* độ rộng tổng khối là 470px mà độ rộng hiển thị của trang là 1170
  chia lấy tỉ lệ gàn 41% */
  width: 41%;
  margin-left: auto;
  /* dùng display: flex để sử dụng justify-content, nhưng khi dùng flex;
  thì khối sẽ đưa lên thành các cột, ta sử dụng flex-direction:col để đổi chiều main thành dọc 
  vậy là các khối sẽ được đưa trở về chiều dọc 
  lúc này ta dùng justify center để căn chiều dọc(chiều main mới) */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .content-features .h2-content {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.features .content-features .p-content {
  margin-top: 16px;
  width: 458px;
}
.features .btn-features {
  margin-top: 32px;
  border-radius: 26px;
  background-color: #ffb900;
  width: 137px;
}
/* features 2 */
.features.f2nd {
  /* vì khối f2 thừa hưởng khối f1 có padding là 65px
  vậy tổng là 130
  suy ra khoảng cách thiếu là 200-130=70 */
  margin-top: 70px;
}
.f2nd .body-features {
  flex-direction: row-reverse;
}
.f2nd .image-features-f2nd img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
.f2nd .content-features.c2nd {
  margin-right: 130px;
  width: 49%;
}
